PORT=5000
NODE_ENV=development

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

JWT_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_WEBHOOK_SECRET=

SHUFTI_CLIENT_ID=
SHUFTI_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_FROM=noreply@giviit.ng
ADMIN_EMAIL=admin@giviit.ng
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
RESEND_API_KEY=

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
